/* 首页css */

.wrapper {
  margin: 0 auto;
  width: 1200px;
}


body {
  background-color: #f3f5f7;
}



.header {
  height: 100px;
  background-color: #fff;
}

/* 头部 */
.header .wrapper {
  display: flex;
  padding-top: 29px;
}

.logo {
  margin-right: 70px;
}


/* logo部分 */
.logo a {
  display: block;
  width: 195px;
  height: 40px;
  background-image: url(../images/logo.png);
  font-size: 0px;
}


/* 导航部分 */
.nav ul {
  display: flex;

}

.nav ul li {
  margin-right: 32px;
}

.nav ul li a {
  display: block;
  padding: 6px 8px;
  line-height: 27px;

  font-size: 19px;
}

.nav li .active,
.nav li a:hover {
  border-bottom: 2px solid blue;
}

.search {
  /* flex布局侧轴默认拉伸 */
  display: flex;
  margin-left: 60px;
  padding-left: 19px;
  padding-right: 12px;
  border-radius: 20px;
  background-color: #f3f5f7;
  width: 412px;
  height: 40px;



}


.search input {
  flex: 1;
  /* 边距0 */
  border: 0;
  /* 透明色 */
  background-color: transparent;

  /* 去掉表单焦点框框 */
  outline: none;


}


.search input::placeholder {
  font-size: 14px;
  color: #999;
}

/* flex布局父级为弹性布局，子级会弹性拉伸 虽然此处的a是行内标签，但是为弹性布局，因此会自动拉伸*/
.search a {
  align-self: center;
  width: 16px;
  height: 16px;
  background-image: url(../images/search.png);
}



.user {
  margin-left: 32px;
  margin-top: 4px;

}

.user img {
  width: 32px;
  height: 32px;
  margin-right: 6px;

  /* 专门用于处理行内块垂直方向对齐方式时使用 */
  vertical-align: middle;
  border-radius: 16px;
}


.user span {
  font-size: 16px;
  color: #666;
}



/* banner区域 */
.banner {
  height: 420px;
  background-color: #1c036c;
}


.banner .wrapper {
  display: flex;
  justify-content: space-between;
  height: 420px;
  background-image: url(../images/banner.png);
}


/* 测导航 */
.banner .left {
  padding: 3px 20px;
  width: 190px;
  height: 420px;
  background-color: rgba(0, 0, 0, 0.42);

}

.banner .left a {

  display: block;
  height: 46px;
  background: url(../images/search.png) no-repeat right center;
  line-height: 46px;
  font-size: 16px;
  color: #fff;
}

.banner .left a:hover {
  color: aqua;
}


/* 右侧部分 */
.banner .right {
  margin-top: 60px;
  width: 218px;
  height: 305px;
  background-color: #209dd5;
  border-radius: 10px;
}

.banner .right h3 {
  margin-left: 14px;
  line-height: 48px;

  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.banner .right .content {
  padding: 14px;
  height: 257px;
  background-color: #fff;
  border-radius: 10px;
}


/* 右侧内容部分 */
.banner .right dl {
  margin-bottom: 12px;
  border-bottom: 1px solid #e0e0e0;
}


.banner .right dt {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.banner .right dd {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 16px;
}

.banner .right dd span {
  color: aqua;
}

.banner .right dd strong {
  font-weight: 400;
}

.banner .right a {
  display: block;
  height: 32px;
  background-color: #00a4ff;
  text-align: center;
  line-height: 32px;
  border-radius: 15px;

  color: #fff;
  font-size: 15px;
}



/* 精品推荐 */
.recommend {
  display: flex;
  margin-top: 11px;
  padding: 0 20px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
  line-height: 60px;
}

.recommend h3 {
  font-size: 18px;
  color: aqua;
  font-weight: 400;
}

.recommend ul {
  /* 除去标题和修改兴趣的尺寸，父级剩余尺寸都给ul，实现把修改兴趣挤到最右侧 */
  flex: 1;
  display: flex;
}


.recommend ul li a {
  /* 因为边框高度与字号高度一致，因此将字号加给了a标签 */
  padding: 0 24px;
  border-right: 1px solid #e0e0e0;
  font-size: 18px;
  font-weight: 400;
}


.recommend ul li:last-child a {
  border-right: 0;

}

.recommend .modify {
  color: aqua;

}



/* 推荐课程 */
.course {
  margin-top: 15px;
}

/* 由于下方标题同为此样式，因此设置此样式为公共样式 */
.hd {
  display: flex;
  justify-content: space-between;
  height: 60px;
  line-height: 60px;
}


.hd h3 {
  font-size: 21px;
  font-weight: 400;
}

.hd .more {
  padding-right: 20px;
  background: url(../images/search.png) no-repeat right center;
  font-size: 14px;
  color: #999;
}

/* 此部分也作为公共样式 */
.bd ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bd li {
  margin-bottom: 14px;
  width: 228px;
  height: 271px;
  background-color: pink;
}


.bd li .pic {
  height: 156px;
}

.bd li .text {
  padding: 20px;
  height: 115px;
  background-color: #fff;
}

.bd li .text h4 {
  margin-bottom: 13px;
  height: 40px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}


.bd li .text p {
  font-size: 14px;
  line-height: 20px;
  color: #999;
}

.bd li .text p span {
  color: #fa6400;
}


.bd li .text p i {
  font-style: normal;
}



/* 前端开发工程师 */
.hd ul {
  display: flex;
}


.hd li {
  margin-right: 60px;
  font-size: 16px;
}

.hd li .active {
  color: aqua;
}

.bd {
  display: flex;
  justify-content: space-between;

}

.bd .left {
  width: 228px;
  /* background-color: pink; */
}

.bd .right {
  width: 957px;
  /* background-color: pink; */
}

.bd .right .top {
  margin-bottom: 15px;
  height: 100px;
}


.footer {
  margin-top: 60px;
  padding-top: 60px;
  height: 273px;
  background-color: #fff;
}

.footer .wrapper {
  display: flex;
}

.footer .left {
  width: 440px;
  /* background-color: pink; */
}


.footer .left p {
  margin-top: 24px;
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 17px;
  color: #666;
}


.footer .left .download {
  display: block;
  width: 120px;
  height: 36px;
  border: 1px solid #00a4ff;
  text-align: center;
  /* 因为有上下边框的存在，所以此处应为34px */
  line-height: 34px;
  font-size: 16px;
  color: #00a4ff;
}


.footer .right {
  display: flex;
}


.footer .right dl {
  margin-left: 130px;
}


.footer .right dt {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 23px;
}

.footer .right a {
  font-size: 14px;
  color: #666;
  line-height: 24px;
}